<!-- Wrapper -->
<div class="wrapper">
	<div class="inner">

		<!-- Section -->
			<section class="main accent3" id="contact-me">
				<header class="major">
					<h2>{{.Params.Footer.heading}}</h2>
					<p>{{.Params.Footer.text}}</p>
          <ul class="actions special">
            <li><a href="mailto:elise@elisetheeditor.com" class="button primary">Email me: elise@EliseTheEditor.com</a></li>
          </ul>
				</header>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="contact-icons">
					{{ range .Params.contact_list }}
						<li class="icon {{.icon}}"><a href="{{.link}}">{{.text}}</a></li>
					{{ end }}
				</ul>
				<p class="copyright">&copy; Elise Blas. All rights reserved.</p>
			</footer>

	</div>
</div>


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
