<!-- Wrapper -->
<div class="wrapper">
	<div class="inner">

		<!-- Section -->
			<section class="main accent2">
				<header class="major">
					<h2>{{.Params.Footer.heading}}</h2>
					<p>{{.Params.Footer.text}}</p>
				</header>
				<form method="post" action="#" class="combined">
					<input type="email" name="email" id="email" placeholder="Email address" class="invert" />
					<input type="submit" class="primary" value="Sign Up" />
				</form>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="contact-icons">
					{{ range .Params.contact_list }}
						<li class="icon {{.icon}}"><a href="{{.link}}">{{.text}}</a></li>
					{{ end }}
				</ul>
				<p class="copyright">&copy; Elise Blas. All rights reserved.</p>
			</footer>

	</div>
</div>


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
